<p id="notice"><%= notice %></p>

<h1>Listing Things</h1>

<div class="row">
  <div class="col-md-2">
    <h5>Title</h5>
  </div>
  <div class="col-md-6">
    <h5>Summary</h5>
  </div>
  <div class="col-md-2">
    <h5>Link</h5>
  </div>
  <div class="col-md-2">
    <h5>Actions<h5>
  </div>
</div>

  <section>
    <% @things.each do |thing| %>
      <div class="row">
        <div class="col-md-2">
          <p><%= link_to thing.title, thing.link %></p>
        </div>
        <div class="col-md-6">
          <p><%= thing.summary %></p>
        </div>
        <div class="col-md-2">
          <p><%= thing.link %></p>
        </div>
        <div class="col-md-2">
          <p><%= link_to 'Show', thing %></p>
          <p><%= link_to 'Edit', edit_thing_path(thing) %></p>
          <p><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
  </section>

<br>

<%= link_to 'New Thing', new_thing_path %>
