<p id="notice"><%= notice %></p>

<h1>Listing Things</h1>

<div class="row">
  <div class="col-md-2">
    <h3>Score</h3>
  </div>
  <div class="col-md-10">
    <h3>Summary</h3>
  </div>
</div>

<section>
  <% @things.each do |thing| %>
    <div class="row">
      <div class="col-md-2">
        <h4><%= thing.votes.size %> votes</h4>
        <p><%= link_to 'Vote', thing_votes_path(thing), method: :post %></p>
        <p><%= link_to 'Edit', edit_thing_path(thing) %></p>
        <p><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <p><%= link_to 'Comment Page', thing_comments_path(thing) %></p>
      </div>
      <div class="col-md-8">
        <h4><%= link_to thing.title, thing %></h4>
        <h5><%= link_to thing.link, view_thing_path(thing) %></h5>
        <p><%= thing.summary %></p>
        <% if thing.comments.any? %>
          <h4>Comments:</h4>
        <% end %>
        <% thing.comments.each do |com| %>
          <p><%= com.body %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
<br>
