<p id="notice"><%= notice %></p>

<h1>Listing Things</h1>

<div class="row">
  <div class="col-md-2">
    <h3>Score</h3>
  </div>
  <div class="col-md-8">
    <h3>Summary</h3>
  </div>
  <div class="col-md-2">
    <h3>Actions<h3>
  </div>
</div>

<section>
  <% @things.each do |thing| %>
    <div class="row">
      <div class="col-md-2">
        <p><%= thing.votes.size %> votes</p>
      </div>
      <div class="col-md-8">
        <h4><%= link_to thing.title, thing %></h4>
        <p><%= thing.link %></p>
        <p><%= thing.summary %></p>
      </div>
      <div class="col-md-2">
        <p><%= link_to 'Vote', thing_votes_path(thing), method: :post %></p>
        <p><%= link_to 'Edit', edit_thing_path(thing) %></p>
        <p><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  <% end %>
</section>

<br>

<%= link_to 'New Thing', new_thing_path %>
