<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "tReddit", root_path, class: "logo" %>
      <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "IndexThings",root_path %></li>
            <li><%= link_to "NewThing",   new_thing_path %></li>
            <li><%= link_to "Login",      :login %></li>
            <li><%= link_to "Signup",     :signup %></li>
          </ul>
      </nav>
  </div>
</header>
